<!DOCTYPE html>
<html>
<head>
    <title>Hotel Management System - Rooms</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='hotel2.jpg') }}");
            /* Other background styles, such as size and position, can also be set here */
        }
    </style>
    
</head>
<body>
  <header>
    <h1>Hotel Hive</h1>
  </header>
  <nav>
    <ul>
      	<li><a href="/">Home</a></li>
        <li><a href="/rooms">Rooms</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/payments">Payments</a></li>
    </ul>
  </nav>
  <main>
    <section>
		<h2>Bookings</h2>
		<form action="booking.php" method="post">
			<label for="booking-id">Booking ID:</label>
			<input type="text" id="booking-id" name="booking-id" required>
			<label for="customer-name">Customer Name:</label>
			<input type="text" id="customer-name" name="customer-name" required>
			<label for="room-number">Room Number:</label>
			<input type="text" id="room-number" name="room-number" required>
			<label for="check-in">Check-in:</label>
			<input type="date" id="check-in" name="check-in" required>
			<label for="check-out">Check-out:</label>
			<input type="date" id="check-out" name="check-out" required>
			<button type="submit" name="book-room">Book Room</button>
		</form>
	</section>

  </main>

</body>
</html>
