<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Management System - Rooms</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='hotel2.jpg') }}");
            /* Other background styles, such as size and position, can also be set here */
        }
    </style>
    
</head>
  <body>
    <header>
      <h1>Hotel Hive</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rooms">Rooms</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/payments">Payments</a></li>
      </ul>
    </nav>
    <main>
      <h2>Welcome to our Hotel Hive</h2>
      <p>We provide the best services to make your stay with us comfortable and memorable.</p>
    </main>
    <footer>
      <p>Copyright &copy; 2023 Hotel Hive</p>
    </footer>
  </body>
</html>
