<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Management System</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header>
      <h1>Hotel Hive</h1>
    </header>
    <nav>
      <ul>
        <li><a href="dbms.html">Home</a></li>
        <li><a href="room.html">Rooms</a></li>
        <li><a href="bookings.html">Bookings</a></li>
        <li><a href="employees.html">Employees</a></li>
        <li><a href="payments.html">Payments</a></li>
      </ul>
    </nav>
    <main>
      <h2>Welcome to our Hotel Hive</h2>
      <p>We provide the best services to make your stay with us comfortable and memorable.</p>
    </main>
    <footer>
      <p>Copyright &copy; 2023 Hotel Hive</p>
    </footer>
  </body>
</html>
