<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Management System - Rooms</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='hotel2.jpg') }}");
            /* Other background styles, such as size and position, can also be set here */
        }
    </style>
    
</head>
  <body>
    <header>
      <h1>Hotel Hive</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rooms">Rooms</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/payments">Payments</a></li>
      </ul>
    </nav>
    <main>
      <section>
      <h2>Employees</h2>
      <form action="booking.php" method="post">
        <label for="employee-id">Employee ID:</label>
        <input type="text" id="employee-id" name="employee-id" required>
        <label for="employee-name">Employee Name:</label>
        <input type="text" id="employee-name" name="employee-name" required>
        <label for="Position">Position:</label>
        <input type="text" id="Position" name="Position" required>
        <label for="Salary">Salary:</label>
        <input type="text" id="Salary" name="Salary" required>

        <button type="submit" name="submit">submit</button>
      </form>
    </section>
  
    </main>

  </body>
</html>
