<!DOCTYPE html>
<html>
  head>
    <title>Hotel Management System - Rooms</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='hotel2.jpg') }}");
            /* Other background styles, such as size and position, can also be set here */
        }
    </style>
    
</head>
  <body>
    <header>
      <h1>Hotel Hive</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rooms">Rooms</a></li>
        <li><a href="/bookings">Bookings</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/payments">Payments</a></li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>Payment Form</h2>
        <form action="payment.php" method="post">
          <label for="payment-id">Payment ID:</label>
          <input type="text" id="payment-id" name="payment-id" required>
          <label for="customer-name">Customer Name:</label>
          <input type="text" id="customer-name" name="customer-name" required>
          <label for="room-number">Room Number:</label>
          <input type="text" id="room-number" name="room-number" required>
          <label for="amount">Amount:</label>
          <input type="text" id="amount" name="amount" required>
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required>
    
          <button type="submit" name="submit">Submit</button>
        </form>
      </section>
    </main>
    
</body>
</html>
  
  
